Xcursor.size: 14
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! use * to capture both xterm uxterm and urxvt
XTerm.termName: xterm-256color
XTerm.vt100.saveLines: 32768
XTerm*faceName: Noto
XTerm*faceSize: 9
XTerm.vt100.locale: true
XTerm*utf8: 1
XTerm.vt100.utf8: true
XTerm.vt100.renderFont: true
XTerm.vt100.scrollBar: false
XTerm.vt100.scrollbar.width: 8
XTerm.vt100.reverseVideo: true
!XTerm.vt100.foreground: white
!XTerm.vt100.background: black
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.translations: #override \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

URxvt.scrollBar: false
! URxvt.font: xft:monospace:size=9
! URxvt.font: xft:monospace:size=9,xft:DejaVu Sans Mono
URxvt.font: xft:dejavu sans mono:size=9
! Set depth to make transparency work.
URxvt.depth: 32
URxvt.intensityStyles: false
URxvt.background: [95]#1b1b1b
URxvt.saveLines: 4095
URxvt.iso14755: false
URxvt*buffered: false
URxvt*termName: rxvt-256color

! Plugins tabbed,tabbedex
URxvt.perl-ext-common: resize-font,clipboard
URxvt.keysym.C-Down: resize-font:smaller
URxvt.keysym.C-Up: resize-font:bigger
URxvt.keysym.C-0: resize-font:reset
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.tabbed.new-button: true
!!URxvt.keysym.C-t: perl:tabbedex:new_tab
URxvt.keysym.C-Tab: perl:tabbedex:next_tab
URxvt.keysym.C-S-Tab: perl:tabbedex:prev_tab

!! X colors.
!! Generated by 'wal'
!*foreground:        #c4c4c7c7c5c5
!*background:        #22222d2d3232
!*.foreground:       #c4c4c7c7c5c5
!*.background:       #22222d2d3232
!emacs*foreground:   #c4c4c7c7c5c5
!emacs*background:   #22222d2d3232
!URxvt*foreground:   #c4c4c7c7c5c5
!XTerm*foreground:   #c4c4c7c7c5c5
!UXTerm*foreground:  #c4c4c7c7c5c5
!URxvt*background:   #222222
!XTerm*background:   #22222d2d3232
!UXTerm*background:  #22222d2d3232
!URxvt*cursorColor:  #c4c4c7c7c5c5
!XTerm*cursorColor:  #c4c4c7c7c5c5
!UXTerm*cursorColor: #c4c4c7c7c5c5
!URxvt*borderColor:  #22222d2d3232

! Colors 0-15.
*.color0: #262636364040
*color0:  #262636364040
*.color1: #ecec78787575
*color1:  #ecec78787575
*.color2: #6161c7c76666
*color2:  #6161c7c76666
*.color3: #fdfdd8d83535
*color3:  #fdfdd8d83535
*.color4: #4242a5a5f5f5
*color4:  #4242a5a5f5f5
*.color5: #baba6868c8c8
*color5:  #baba6868c8c8
